.Inventory {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 5vh;
}

.Card {
    border: 1px solid black;
    width: 200px;
    height: 260px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Large {
    scale: 1.8;
    position: relative;
    /* left: 60px; */
}

.Small:hover {
    border: 3px solid black;
    cursor: pointer;
    margin: 18px;
}

.ImageContainer {
    width: 180px;
    height: 160px;
    border: 1px solid black;
}

.Image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.NameContainer {

}

.TextContainer {
    font-size: 14px;
}

.CardPopup {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    background-color: white;
    position: fixed;
    left: calc(50%-400px);
    top: 200px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.CloseButton {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    position: relative;
    left: 788px;
    top: -300px;
    cursor: pointer;
}

.CardContainer {
    position: relative;
    left: -100px;
}

.CardForm {
    position: relative;
    width: 200px;
    right: 50px;
    display: flex;
    flex-direction: column;
}

.DealContainer {
    /* border: 1px black solid; */
    width: 240px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}