.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header {
  width: calc(100% - 200px);
  height: 5vh;
  background-color: #282c34;
  position: sticky;
  top: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.HeaderButtons {
  display: flex;
  flex-direction: row;
}

.HeaderButton {
  margin-left: 80px;
}

.HeaderButton:hover {
  text-decoration: underline;
  cursor: pointer;
}